.user__pic {
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0;
  /* background-image: url(../../../images/JCousteau.png); */
  background-size: cover;
  box-shadow: 0 0 2px white;
}
.user__pic:hover {
  /* transform: scale(1.05); */
  /* transition: transform 0.4s ease-out; */
  cursor: pointer;
}
