.popup__button-close {
  background-image: url("../../../images/button-close.svg");
  width: 32px;
  height: 32px;
  position: absolute;
  top: -39px;
  right: -41px;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: unset;
  line-height: 0;
  /*transform: rotate(45deg);*/
  z-index: 3;
}
.popup__button-close:before {
  position: absolute;
  content: "";
  display: block;
}
.popup__button-close:hover {
  opacity: 0.6;
}
@media (max-width: 758px) {
  .popup__button-close {
    background-size: cover;
    width: 20px;
    height: 20px;
    top: -35px;
    right: 0px;
  }
}
