.popup__image {
    position: relative;
    display: inline-block;
    text-align: center;
    max-width: 80vw;
    max-height: 80vh;
    border: 0;
    margin: 150px auto;
    padding: 0;
    line-height: unset;
}
