.form__cell {
  margin: 18px 0 0 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 38px;
  box-sizing: border-box;
  border-bottom: 1px solid #bcbcc4;
  opacity: 0.8;
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 17px;
  outline: none;
}
.form__cell:focus {
  outline-color: #fff6c5;
}
@media (max-width: 901px) {
  .form__cell {
    width: 95%;
    margin-top: 8%;
  }
}
