@import url(../vendor/normalize.css);
@import url(../blocks/body/body.css);
@import url(../fonts/Web/inter.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/main/main.css);
@import url(../blocks/user/user.css);
@import url(../blocks/user/__pic/user__pic.css);
@import url(../blocks/user/__info/user__info.css);
@import url(../blocks/user/__name/user__name.css);
@import url(../blocks/user/__about/user__about.css);
@import url(../blocks/button/button.css);
@import url(../blocks/user/__info-edit-button/user__info-edit-button.css);
@import url(../blocks/user/__add/user__add.css);
@import url(../blocks/user/__add-button/user__add-button.css);
@import url(../blocks/content/content.css);
@import url(../blocks/cell/cell.css);
@import url(../blocks/cell/__img/cell__img.css);
@import url(../blocks/cell/__subscribe/cell__subscribe.css);
@import url(../blocks/cell/__location/cell__location.css);
@import url(../blocks/cell/__heart/cell__heart.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__button-close/popup__button-close.css);
@import url(../blocks/form/form.css);
@import url(../blocks/form/__heading/form__heading.css);
@import url(../blocks/form/__cells/form__cells.css);
@import url(../blocks/form/__cell/form__cell.css);
@import url(../blocks/form/__submit-button/form__submit-button.css);
